<?xml version="1.0" ?>
<ioc_configs>
	<ioc_config name="SIMPLE1">
		<config_part>
			<macros>		
				<macro description="COM port to use for communication" name="COMPORT" pattern="COM[0-9]+:" hasDefault="UNKNOWN"/>
				<macro description="TEST" name="ANOTHERMACRO" pattern="COM[0-9]+:" hasDefault="UNKNOWN"/>
				<macro description="TEST" name="FINALMACRO" pattern="COM[0-9]+:" hasDefault="UNKNOWN"/>
			</macros>
			<pvsets>
				<pvset description="Motor high and low limits" name="Motor Limits"/>
				<pvset description="For more tests" name="Another Set"/>
				<pvset description="For more tests" name="Final Set"/>
			</pvsets>
			<pvs>
				<pv name="A_TEST_PV" description="For testing"/>
				<pv name="A_SECOND_TEST_PV" description="For testing"/>
			</pvs>
		</config_part>
	</ioc_config>
	<ioc_config name="SIMPLE2">
		<config_part>
			<macros>
				<macro description="COM port to use for communication" name="COMPORT" pattern="COM[0-9]+:" hasDefault="UNKNOWN"/>
				<macro description="TEST" name="ANOTHERMACRO" pattern="COM[0-9]+:" hasDefault="UNKNOWN"/>
			</macros>
			<pvsets>
				<pvset description="Motor high and low limits" name="Motor Limits"/>
				<pvset description="For more tests" name="Another Set"/>
			</pvsets>
			<pvs>
				<pv name="A_TEST_PV" description="For testing"/>
				<pv name="A_SECOND_TEST_PV" description="For testing"/>
			</pvs>			
		</config_part>
	</ioc_config>
</ioc_configs>
